.main-body { 
   background-color: lightblue;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
}

.nav {
  background-color: lightblue;
}

@media all and (min-width: 992px)
    > .item.next
    { 
      transform: translate3d(25%, 0, 0);  
    }

/**/

a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: